@page "/pwa"

<h1 class="mb-4">PWA Funktioner</h1>

<PWAStatus />

<ul>
    <li><b>Offline support:</b> Appen kan bruges uden internetforbindelse (visse funktioner kræver dog online adgang).</li>
    <li><b>Tilføj til hjemmeskærm:</b> Du kan installere appen på din enhed ligesom en native app.</li>
    <li><b>Automatiske opdateringer:</b> Appen opdateres automatisk i baggrunden, når der er nye versioner.</li>
    <li><b>Hurtig indlæsning:</b> Takket være caching indlæses appen hurtigt, selv på langsomme forbindelser.</li>
    <li><b>Push notifikationer:</b> (Valgfrit) Kan aktiveres for at modtage beskeder fra appen.</li>
</ul>

<p>Prøv at slå internettet fra og se hvordan appen stadig virker!<br />
Du kan også tilføje appen til din hjemmeskærm via browserens menu.</p> 